{% extends 'layout.html' %}
{% block body_content %}
<!DOCTYPE html>
    <html>
        <head>
            <title>
                Front End
            </title>
            <hr />
        </head>
        <body>
            <article class="media content-section">
                <div> 
                 <h3>Welcome to my web app</h3>
                </div>
            </article>
            <p>
                <hr />
            <a class="btn btn-secondary btn-sm mt-1 mb-1" onclick="window.location.reload();">Refresh</a>
            </p>
        </body>
    </html>    
{% endblock %}